.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body{
  user-select: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fullpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.row-select-size-board {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 20px;
}

.container-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.container-player-info{
  position:absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0px 200px;
  box-sizing: border-box;
}
.avatar {
  width: 200px;
  height: 200px;
  position: relative;
}
.avatar-button {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.067);
  cursor: pointer;
}

.avatar:hover > .avatar-button {
  visibility: visible;
}
.avatar:hover > .avatar-button:hover {
  background-color: rgba(0, 0, 0, 0.274);
}

.player-info-1{
  position: absolute;
  top: 0px;
  left: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}
.player-info-2{
  position: absolute;
  top: 0px;
  right: -250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:10px;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px double #000;
}
.board-row {
  display: flex;
  flex-direction: row;
}
.square {
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  cursor: default;
  user-select: none;
}

.size-20 {
  width: 20px;
  height: 20px;
}
.size-30 {
  width: 30px;
  height: 30px;
  font-size: 20px;
}
.size-60 {
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.square-cross {
  color: red;
  background-color: rgba(255, 0, 0, 0.1);
}
.square-check {
  color: rgb(23, 205, 23);
  background-color: rgba(23, 205, 23, 0.1);
}
.square-blank:hover {
  background-color: rgb(181, 178, 178);
  cursor: pointer;
}

.text-winner{
  margin-top: 20px;
  font-size: 40px;
  animation: winner 2.2s infinite linear;
}

@keyframes winner {
  0%{
    /* opacity: 0; */
    color: red;
  }

  25%{
    color: yellowgreen;
    transform: rotate(5deg);
  }

  50%{
    color: green;
    transform: rotate(0deg);
  }

  75%{
    color: yellowgreen;
    transform: rotate(-5deg);
  }

  100%{
    /* opacity: 1; */
    color: red;
  }
}